	body {
		background-color: #E0ECF8;
		color: white;
	}

.header {
		font-family: "adele";
}

.resume {
	color: white;
	font-family: "adobegaramondpro";
}

.listspaced li{
	font-family: "times new roman"; line-height: 40px;
}

.container1 {
	background-color: #212121;
}


