<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>

		<!-- 
			Hey jessica, note the {{ site.url }} magic bits. this makes it so that
			pages in folders can still link to the stuff in the base directory
		-->
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/style.css">

		<script type="text/javascript" src="//use.typekit.net/llb2wtt.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
	<body>
    {{content}}
	</body>
</html>
